
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "tailwindcss";

@layer components {
  .shadow-comic {
    box-shadow: 4px 4px 0px 0px #000000;
  }

  .font-comic {
    font-family: "Bangers", sans-serif;
    letter-spacing: 2px;
}

.font-comic-neue {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
}

.font-stat {
    font-family: "Staatliches", sans-serif;
}

}
